.top {
    margin-top: 25px;
}
ul {
    font-size: 18px;
    font-family: Arial;
    border: none;
    background: #252525
}

a:visited {
    background: #464646;
}
li.active a {
    color: #f99910;
    background: #464646;
    border-radius: 0;
    border-bottom: 1px solid #f99910;
    margin-bottom: 0;

}

a {
    margin: 0;
    border: none;
    position: relative;
    display: block;
    padding: 10px 15px;
} 

li {
    margin: 0;
    border-radius: 0;
    color: #fff;
    border: none;
    cursor: pointer;
    
}

li:focus {
    outline: none !important;
}
    
li:hover {
    color: #f99910;
    background: #464646;
}

.main {
    background: #363636;
    padding: 0 !important;
}