<div class="container-fluid top">
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs">
                <li   [routerLink]="['steam-inventory']" routerLinkActive="active" >
                    <a>Steam Inventory</a>
                </li>
                <li  [routerLink]="['d2by-inventory']" routerLinkActive="active" >
                    <a>D2BY Inventory
                    </a>
                </li>
                <li  [routerLink]="['inventory-history']" routerLinkActive="active">
                    <a>Inventory History</a>
                </li>
                <li  [routerLink]="['gift-history']" routerLinkActive="active">
                    <a>Gift History</a>
                </li>
                <li  [routerLink]="['convert-coins']" routerLinkActive="active">
                    <a>Convert Coins</a>
                </li>
            </ul>   
            <div class="col-12 main">
                <router-outlet></router-outlet>
            </div>
        </div>
        
    </div>
</div>