<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">

<ng-sidebar-container 
(onBackdropClicked)="_onBackdropClicked()">
<ng-sidebar 
[(opened)]="_opened">

<ul class="list-unstyled components">
        <li><a class="nav-link sb-style" *ngIf="isLoggedin">
                <img class="user-img" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ad/adb9cbe33e0ba01fac0e68a2e9d15828d5989cd0_medium.jpg" alt="">
                <span>Marl 3</span>
            </a>
        <li class="login" *ngIf="!isLoggedin" [routerLink]="['/login']">Login</li>
        <li [routerLink]="['/my-account/store']"><a class="nav-link sb-style" (click)="_opened = false">STORE</a></li>
        <li [routerLink]="['/matches/win']"><a class="nav-link sb-style" (click)="_opened = false">MATCHES</a></li>
        <li >
            <div>
                <div>
                    <div style="cursor: pointer;" class="nav-link dropdown-toggle events" (click)="onToggleEvents()">
                        EVENTS
                    </div>
                    <div  class="nav-link pl-0 py-0" [hidden]="toggleEvent" [routerLink]="['/events/news']" >
                        <a class="nb" (click)="_opened = false" >NEWS</a>
                    </div>
                    <div  class="nav-link pl-0 py-0" [hidden]="toggleEvent" [routerLink]="['/events/blogs']">
                        <a class="nb" (click)="_opened = false" >BLOG</a>
                    </div>
                </div>
            </div>
        </li>
        <li >
            <div>
                <div>
                    <div style="cursor: pointer;" class="nav-link dropdown-toggle events" (click)="onToggleD2BY()">
                        MY D2BY
                    </div>
                    <div  class="nav-link px-0 py-0" [hidden]="toggleD2BY" [routerLink]="['/my-account/my-inventory/d2by-inventory']">
                        <a class="nb" (click)="_opened = false" >MY INVENTORY</a>
                    </div>
                    <div  class="nav-link px-0 py-0" [hidden]="toggleD2BY" [routerLink]="['/my-account/my-play/my-game']">
                        <a class="nb"(click)="_opened = false" >MY PLAY</a>
                    </div>
                </div>
            </div>
        </li>
    </ul>
  
</ng-sidebar >

<div ng-sidebar-content>
<header>
    <nav class="navbar navbar-expand-sm">
            <a (click)="_toggleOpened()" [ngClass]="{close: _opened}"></a>
            <a (click)="_toggleOpened()" class="hide">
                    <div class="toggle-icon">
                        <div class="bar1"></div>
                        <div class="bar2"></div>
                        <div class="bar3"></div>
                    </div>
                </a>
            <a style="cursor: pointer;" [routerLink]="['/homepage']">
                <img src="https://dota2bestyolo.com/images/logo/logo.png" class="logo navbar-brand">
            </a>
            
            <ul class="nav navbar-nav mr-auto nav-style">
                <li
                class="nav-item "><a class="nav-link hover" [routerLink]="['/my-account/store']">STORE</a></li>
                <li
                class="nav-item "><a class="nav-link hover" [routerLink]="['/matches/win']">MATCHES</a></li>
                <li class="nav-item active hover">
                        <div class="btn-group" dropdown container="body">
                            <a id="button-basic" dropdownToggle  class="nav-link dropdown-toggle"
                                    aria-controls="dropdown-basic" (click)="false">
                                    EVENTS <span class="caret"></span>
                            </a>
                            <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                                role="menu" aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item hover" [routerLink]="['/events/news']">NEWS</a></li>
                            <li role="menuitem"><a class="dropdown-item hover" [routerLink]="['/events/blogs']">BLOG</a></li>
                            </ul>
                        </div>
                    </li>
                <li class="nav-item hover">
                    <div class="btn-group" dropdown container="body">
                        <a id="button-basic" dropdownToggle  class="nav-link dropdown-toggle"
                                aria-controls="dropdown-basic" (click)="false">
                                MY D2BY <span class="caret"></span>
                        </a>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                            role="menu" aria-labelledby="button-basic">
                            <li role="menuitem"><a class="dropdown-item hover" [routerLink]="['/my-account/my-inventory/d2by-inventory']">
                                MY INVENTORY</a>
                            </li>
                            <li role="menuitem"><a class="dropdown-item hover" [routerLink]="['/my-account/my-play/my-game']">
                                MY PLAY</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto user" *ngIf="isLoggedin">
                <li class="user-avatar">
                    <a>
                        <img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ad/adb9cbe33e0ba01fac0e68a2e9d15828d5989cd0_medium.jpg">
                    </a>
                </li>
                <li class="nav-item">
                    <div class="btn-group" dropdown container="body">
                        <a id="button-basic" dropdownToggle  class="nav-link dropdown-toggle"
                                aria-controls="dropdown-basic" (click)="false">
                                Marl 3 <span class="caret"></span>
                        </a>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu user-dropdown"
                            role="menu" aria-labelledby="button-basic">
                            <li role="menuitem">
                                <a class="dropdown-item user-dropdown-item" 
                                    [routerLink]="" [routerLink]="['/my-account/my-inventory/d2by-inventory']">
                                    Inventory
                                </a>
                            </li>
                            <li role="menuitem" [routerLink]="['/my-account/my-reflink']">
                                <a class="dropdown-item user-dropdown-item" 
                                    [routerLink]="">Ref Link
                                </a>
                            </li>
                            <li role="menuitem"  
                            (click)="onLogout()">
                                <a class="dropdown-item user-dropdown-item">
                                Logout
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="mt-2">
                    <span class="user-level">Lv 1
                        </span>
                </li>
                <li class="mt-2"><img src="https://dota2bestyolo.com/images/flags/32/uk.png" alt="" class="uk-flag"></li>
            </ul>

            <ul class="nav navbar-nav ml-auto nav-style" *ngIf="!isLoggedin">
                <li
                routerLinkActive="nav-item active"><a [routerLink]="['/login']" class="nav-link login2 ">Login</a></li>
                <li
                routerLinkActive="nav-item active"><a [routerLink]="['/register']" class="nav-link register">Register</a></li>
                <li><img src="https://dota2bestyolo.com/images/flags/32/uk.png" alt="" class="uk-flag"></li>
            </ul>
        </nav>
    </header>
</div>
</ng-sidebar-container>
