
.logo {
    width: 135px;
    height: 45px;
    padding: 0;

}
p {
    background-color: green;    
    width: 100%;
    height: 300px;
}

nav {
    background-image: url('https://dota2bestyolo.com/images/2019/halloween/header.jpg')
}

ng-sidebar-container {
  height: 61px;
}

list-unstyled {
  position: fixed;
}

/* 
@media only screen and (max-width: 575px) {
  ng-sidebar-container {
    height: 150px;
  }

} */
@media only screen and (max-width: 767px) {
        .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .navbar-nav {
            display:none;
        }
      

}
@media only screen and (min-width: 768px) {
    .hide {
        display:none;
    }
 }
 @media only screen and (max-width: 576px) {
     
    .hide {
        position: relative;
        left: -45%;
         
     }
 }


    
    .close {
        position: absolute;
        right: 40%;
       
        width: 32px;
        height: 32px;
        opacity: 1;
        z-index: 100;
      }
      
      .close:before, .close:after {
        position: absolute;
        left: 15px;
        content: ' ';
        height: 33px;
        width: 2px;
        background-color: white;
      }
      .close:before {
        transform: rotate(45deg);
      }
      .close:after {
        transform: rotate(-45deg);
      }


      .toggle-icon {
        display: inline-block;
        cursor: pointer;
      }
      
      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: white;
        margin: 6px 0;
        transition: 0.4s;
      }
      
      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
      }
      .ng-sidebar {
        background: red;
        width: 13rem;
    }
    
    .login {
        background-color: #F99910;
        border-radius: 5px;
        text-align: center;
        padding: 3px 25px;
        font-size: 16px;
        color: white;
        margin-top: 30px;
    }

    .sb-style {
        padding : 2px;
        color: #ddd !important;
    }

    .nav-style {
        float: left;
        color: white;
        text-align: center;
        text-decoration: none;
        font-size: 18px;
        font-family: 'Anton', sans-serif;
        text-transform: uppercase;
    }

    .login2 {
        background-color: #F99910;
        vertical-align: middle;
        text-align: center;
        margin-right: 4px;
        font-size: 14px;
        color: white;
        display: inline-block;
        border: 1px solid transparent;
        border-radius: 4px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: none;
        padding: 3px 25px 3px 25px !important;
    }
    .register {
      
      background-color: #373c40;
      vertical-align: middle;
      text-align: center;
      margin-right: 4px;
      font-size: 14px;
      color: white;
      display: inline-block;
      border: 1px solid transparent;
      border-radius: 4px;
      font-family: Arial, Helvetica, sans-serif;
      text-transform: none;
      padding: 3px 25px 3px 25px !important;
    }

    .uk-flag {
      position: relative;
      top: -3px;
    }

    a {
      cursor: pointer;
  }

  .dropdown-item {
    color: white;
    background-color: black;
  }

  .dropdown-menu {
    background-color: transparent;
    border: none;
    
  }
  div.btn-group:hover {
  color: #f99910;
 }

 .hover{
   color: white !important;
 }
 a.hover:hover {
  color: #f99910;
 }

 a.sb-style {
   margin:15px;
 }


.nb {
  display: block;
  color: #ddd;
  text-decoration: none;
  padding: 10px 0;
  padding-right: 165px;
  padding-left:15px;
  background-color: #222;
  width : 300px;
}

.nb:hover {
  color:white;
}
.events{
  color: #ddd;
}

.sb-style:hover, .events:hover {
  color:white !important;
}

.user {
  color: #fff !important;
  text-decoration: none;
  font-size: 14px;
}
.user-avatar img {
  width: 38px;
  height: 38px!important;
  border-radius: 50%;
  padding: 2px 5px;
  border: 1px solid #ccc;
  margin-right: 5px;
  
}

.user-level {
  color: #333;
  font-style: italic;
  border: 2px solid #c4c6c6;
  box-shadow: 0 2px 2px 0;
  font-size: 11px;
  background: #959595;
  padding: 0 5px;
  border-radius: 8px;
  margin-right: 5px;
  padding: 0 3px;
}

.user-dropdown-item{
  background-color: #464646;
  color: white !important;
}

.user-dropdown-item:hover {
  background-color: #f99910;
}

.user-dropdown {
  background: #464646;
  margin-top:13px;
}

.user-info{
  overflow: hidden; 
  background: url('https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ad/adb9cbe33e0ba01fac0e68a2e9d15828d5989cd0_medium.jpg') no-repeat;
  background-size: 40px 40px;
}
.user-info span{
  display: inline-block;
  width: 125px;
  height: 36px;
  line-height: 36px;
  overflow: hidden;
  word-wrap: break-word;
  white-space: nowrap;
}

.user-img{
  height: 40px;
  widows: 40px;
}

li {
  outline: none;
}