table {
    font-size: 14px;
    margin-bottom: 30px;
    background: #000;
    border-spacing: 0;
    border-collapse: collapse;
    
}

th {
    background: #404040;
    text-align: center;
    border: 1px solid #999999;
    border-top: 0 !important;
    border-bottom: 0 !important; 
    color: #999999;

}
.history {
    padding-top: 30px;
}

td {
    color:white;
}