<div class="table-striped table-responsive history col-12">
    <table class="table">
        <thead>
            <tr>
                <th class="">Time</th>
                <th class="">Bot</th>
                <th class="">Action</th>
                <th class="">Quantity</th>
                <th class="">Sum Items ($)</th>
                <th class="">Coin</th>
            </tr>
        </thead>
        <tbody >
            <tr>
                <td>2019-10-17 00:30</td>
                <td class="bot"><span><img width="50px" height="50px" src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/5a/5a1251046d9620a57cb60e9e43ad43d3d194316f_full.jpg/"></span>oaksnarl5356
                </td>
                <td>Deposit the items via trade offer</td>
                <td>1</td>
                <td>0.04</td>
                <td>0</td>
            </tr>
        </tbody>
    </table>

</div>