<footer>
    <div class="col-12 mt-4 top">
        <div class="row">
            <div class="col-lg-2 text-center" >
                <a class="footer-logo" [routerLink]="['homepage']" ><img src="https://dota2bestyolo.com/images/logo/logo.png" alt="Dota2BestYolo"></a> 
            </div>
            <div class="col-lg-2 px-0  footer-item">
                <h4 class="text-gray">
                    Trusted provider
                </h4>
                <div>
                    <div class="text" >
                        We are a certified and licensed bGaming vender, whose games are available in multiple jurisdictions. 
                    </div>
                </div>
            </div>
            <div class="col-lg-2  footer-item">
                <h4 class="text-gray">
                    Introduction
                </h4>
               <div>
                    <a class="text" target="_blank" rel="noreferrer">
                            Guides
                        </a>
               </div>
            </div>
            <div class="col-lg-2 footer-item">
                <h4 class="text-gray">
                    Contact
                </h4>
                <ul>
                    <li class="text-666">contact@dota2bestyolo.com </li>
                    <li class="text-666">support@dota2bestyolo.com </li>
                </ul>
            </div>
            <div class="col-lg-2 footer-item">
                <h4 class="text-gray">
                    Report/Suggestion
                </h4>
                <ul>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScQwRZ_fT1hzbWyLtOsZtY1V3U2t_sfzcTYTxKmQ-ga_o64gQ/viewform" class="text-666" target="_blank" rel="noreferrer">
                            Report spam comments</a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScQwRZ_fT1hzbWyLtOsZtY1V3U2t_sfzcTYTxKmQ-ga_o64gQ/viewform" class="text-666" target="_blank" rel="noreferrer">
                            Report malicious users</a></li>
                    <li><a href="https://docs.google.com/forms/d/e/1FAIpQLScQwRZ_fT1hzbWyLtOsZtY1V3U2t_sfzcTYTxKmQ-ga_o64gQ/viewform" class="text-666" target="_blank" rel="noreferrer">
                            Suggestion</a></li>
                </ul>
            </div>
            <div class="col-lg-2 footer-item">
                <h4 class="text-gray">
                    Rules
                </h4>
                <ul>
                    <li><a href="/rules" class="text-666" target="_blank" rel="noreferrer">
                            Terms of Service</a></li>
                </ul>
                <h4 class="text-gray" style="text-align: center;">
                        Social Media
                    </h4>
                    <div class="col-xs-12 no-padding">
                        <a href="https://www.facebook.com/Dota2BestYolo/" target="_blank" rel="noreferrer"><img src="https://dota2bestyolo.com/images/icon/icon-facebook-footer.png" alt="facebook"></a>
                        <a href="https://steamcommunity.com/groups/Dota2BestYoloMain" target="_blank" rel="noreferrer"><img src="https://dota2bestyolo.com/images/icon/icon-steam-footer.png" alt="steam"></a>
                        <a href="https://vk.com/dota2bestyolo" target="_blank" rel="noreferrer"><img src="https://dota2bestyolo.com/images/icon/icon-vk-footer.png" alt="vk"></a>
                       
                    </div>
            </div>
        </div>
    </div>
    <div id="copyright">
        <div style="color: white;">
            <p class="float-left">
                BestYolo B.V All Rights Reserved 2019-2020
            </p>
        </div>
    </div>
</footer>
