@media only screen and (min-width: 992px) {
   footer {
        height: 245px !important;
    }
    #copyright {
        padding-top:30px;
        
     }
  
}
@media only screen and (max-width: 992px) {
    footer {
         padding-top:30px;
     }
     #copyright {
        padding-top:30px;
     }
   
 }


footer {
    background-image: url('https://dota2bestyolo.com/images/2019/halloween/footer.jpg?v=1.0.1');
    background-position: center;
    height: 710px;
    background-repeat: no-repeat;
    background-size: cover; 
    overflow:hidden;
    border-top: 1px solid #252525;

}

.footer{
    padding:15px 0;
    margin-top: 30px;
}
.footer-item {
    text-align: center;
    margin-bottom: 10px;
    max-height: 141px;
}

.text-gray {
    font-size: 18px;
    font-weight: bold;
    color: #f49517;
}

.text {
   color: #d9d9d9 !important; 
   margin-bottom: 5px;
}

ul {
    padding-left:0;
    list-style-type: none;
}
.text-666 {
    color: #d9d9d9;
    cursor: pointer;
}
.footer-logo img {
    width: 100%;
    max-width: 210px; 
    margin-bottom: 10px;
    
}

#copyright{
    font-size: 15px;
    margin-left: 15px;
}

a:hover, li:hover {
    text-decoration: none;
    color: #f99910;
}