<div class="col-12 my-menu">
        <ul>
            <li class="menu-myinventory" *ngIf="isLoggedin"><a [routerLink]="['my-inventory/d2by-inventory']">My Inventory</a></li>
            <li class="menu-myplay" *ngIf="isLoggedin"><a [routerLink]="['my-play/my-game']" >My Play</a></li>
            <li class="menu-reflink"><a [routerLink]="['my-reflink']">Ref Link</a></li>
            <li class="menu-account"><a [routerLink]="['my-steam-url']">Steam trade URL</a></li>
            <li class="menu-message"><a [routerLink]="['my-message']"> Message &amp; Log</a></li>
            <li class="menu-feedback"><a href="https://docs.google.com/forms/d/e/1FAIpQLScQwRZ_fT1hzbWyLtOsZtY1V3U2t_sfzcTYTxKmQ-ga_o64gQ/viewform" target="_blank" rel="noreferrer">Support</a></li>
        </ul>
    </div>