.my-menu ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.my-menu {
    background: #363636;
    margin-bottom: 30px;
    padding:0;

}

.my-menu ul li {
    padding: 12px 15px;
    
}

.my-menu ul li a {
    padding: 7px 0 10px 50px;
    background-image: url('https://dota2bestyolo.com/images/icon/icon-all.png');
    background-repeat: no-repeat;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    
}

.my-menu ul li:nth-child(odd) {
    background: #464646;
   
}

.menu-myinventory a {
    background-position: 0 -853px;

}

.menu-myplay a {
    background-position: 0 -1013px;
}
.menu-reflink a {
    background-position: 0 -2107px;
}

.menu-account a {
    background-position: 0 -1053px;
}

.menu-message a {
    background-position: 0 -973px;
}

.menu-feedback a {
    background-position: 0 -1093px;
}

.my-menu ul li a:hover {
    color: #f99910;
    cursor: pointer;
}

