th {
    width: 100px;
    background: #404040;
    color: #999999 !important;
    text-align: center;
    border: 1px solid #999999;
    border-top: 0;
    border-bottom: 0 !important;
    padding: 8px !important;
}

.table {
    margin:30px 0 60px 0;
}

td {
    text-align: center;
    padding: 17px 20px;
    border-top: 1px solid #404040;
    color: white;
}

tr {
    background-color: black !important;
}

th:first-child {
    border-left: 1px solid #404040;
}
th:last-child {
    border-right: 1px solid #404040;
}