    <div class="container-fluid top">
     <div class="row">          
            <app-carousel class="col-md-12 col-lg-8"></app-carousel>
            <app-side-events class="col-lg-4"></app-side-events>
        </div> 
    </div>
<div class="container-fluid ">
    <div class="row justify-content-between">
        <app-upcomingmatches class="col-md-12 col-lg-8"></app-upcomingmatches>
        <app-store class="col-md-12 col-lg-8"></app-store>
        <app-match-result class="col-lg-4 offset-lg-8 "></app-match-result>
    </div>
</div>

 
