
@media only screen and (max-width: 576px) {
    app-carousel {
        display: none;
    }
   
}

/* 
@media only screen and (min-width: 1996) {
    app-footer {
        margin-top:50px;
    }
} */

@media only screen and (max-width: 991px) {
    app-side-events {
        display: none;
    }
    app-match-result {
        margin-bottom: 60px !important;
    }

    app-store {
        margin-bottom: 0 !important;
    }
}
@media only screen and (min-width: 991px) {
   
    app-match-result {
        position: absolute;
        margin-bottom: 50px;
    }

}

@media only screen and (max-width: 991px) {
    app-side-events {
        display: none;
    }
}
@media only screen and (min-width: 575px) {
  
    div.notice {
        height: 42px;
        line-height: 42px;
        position: relative;
        top: -13px;
    }
    span.notice-title {
        height: 42px;
        font-size: 14px;
       
    }
   
    p.notice-content {
        height: 42px;
        font-size: 13px;
       
    }

}
app-match-result {
    margin-top: 25px;
    margin-bottom: 25px;
}

app-footer {
    height: 500px;
    
}
app-upcomingmatches {
    max-height: 680px;
    margin-top: 25px;
}
app-store {
  margin-bottom: 50px;
}


.top {
    padding-top: 30px;
}
