<div class="col-12 bg" *ngFor="let earner of earners">
        <div class="row pt-3">
            <div class="col-2 rank">
                <div class="rank-4-10">{{ earner.number }}</div>
            </div>
            <div class="col-7 px-0">
                <div class="row">
                    <div class="col-3 avatar pr-0 pl-1">
                        <img [src]="earner.avatar">
                    </div>
                    <div class="col-9 px-0">
                            <div class="col-12 name px-0"> {{ earner.name }} </div>
                            <div class="col-12 px-0">
                                    <span class="level">{{ earner.level }}</span>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-3 px-0 pr-1">
                    <p class="color-rank-2">Win
                        <br>{{ earner.value }}
                        <img style="padding-left:1px" src="https://dota2bestyolo.com/images/icon-price-21.png" alt="gold coin">
                    </p>
            </div>
        </div>
    </div>