.content-head {
    margin: 40px 0px;
}

.content-head p {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: #afb0b2;
}

.line {
    height: 2px;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(to right,#585753,#f7d053,#585753);
    background-image: -o-linear-gradient(to right,#585753,#f7d053,#585753);
    background-image: -moz-linear-gradient(to right,#585753,#f7d053,#585753);
    background-image: linear-gradient(to right,#585753,#f7d053,#585753);
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    color: #737373;
}

input[type="checkbox"] + label:before {
    border: 1px solid #cccccc;
    content: "\00a0";
    display: inline-block;
    font: 15px/1em Arial;
    margin: 0 5px 0 0;
    width: 18px;
    font-weight: bold;
    font-family: Arial;
}
input[type="checkbox"]:checked + label:before {
    background: #f8d052;
    color: #fff;
    content: "\2713";
    text-align: center;
    font-weight: bold;
    font-family: Arial;
}

input[type="checkbox"] {
    display: none;
    box-sizing: border-box;
    padding: 0;
    margin: 4px 0 0;
    margin-top: 1px\9;
    line-height: normal;
}

.textinput {

    background: rgba(149,149,149,0.2);
    border-radius: 0px;
    width: 100%;
    height: 35px;
    border: none;
    color: #f8d053;
    font-size: 16px;
    font-family: Arial;
    box-shadow: none !important;
    padding: 5px 10px;
}
.button-next {
    border: none;
    border-radius: 0px;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    height: -10px;
    background: #f8d053;
    padding: 2px 2px;  
}

.btn-register {
    font-size: 16px !important;
    padding: 5px 20px;
    height: 36px;
    border-radius: 0px;
    border: 1px solid #f8d053;
    color: #f8d053 !important;
    background: #181916;
    cursor: pointer;
}

.error-color {
    color: #b35d5d;
    font-weight: normal;
    font-size: 13px;
}
