<div class="containter-fluid">
        <div class="row mx-0">
            <div class="col-10 col-xs-12 offset-1">
                <div class="content-head">
                    <p>Account Login</p>
                    <div class="line">&nbsp;</div>
                </div>
                <div class="col-12">
                        <div class="alert alert-danger col-4 offset-4" style="text-align: center;" *ngIf="submitted && error"> 
                            <p>
                                {{ error }}
                            </p>
                        </div>
                        <div *ngIf="isLoading" style="text-align: center; height: 700px;" > 
                                <app-loading-spinner></app-loading-spinner>
                        </div>
                        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
                            <div class="form-group">
                                <div class="col-sm-8 offset-sm-2 col-md-4 offset-md-4 px-0 mb-3">
                                    <label class="col-xs-3 text-right control-label" for="email">Email</label>
                                    <input class="textinput" id="email" type="email" formControlName="email">
                                    <div *ngIf="submitted && f.email.errors" class="error-color"> 
                                        <span *ngIf="f.email.errors.required">Please enter a email address!</span>
                                        <span *ngIf="f.email.errors.email">Please enter a valid email address!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-8 offset-sm-2 col-md-4 offset-md-4 px-0">
                                    <label class="col-xs-3 text-right control-label" for="password" >Password</label>
                                    <input class="textinput" id="password" type="password" formControlName="password">
                                    <div *ngIf="submitted && f.password.errors" class="error-color">
                                        <span *ngIf="f.password.errors.pattern" >
                                            Please enter your password! <br> Password must have 8-20 characters and contain both uppercase and number.
                                        </span>
                                        <span *ngIf="f.password.errors.required">
                                                Password is required!
                                        </span>
                                    </div>
                                </div>
                            </div>
                                <div class="form-group">
                                    <div class="col-sm-8 offset-sm-2 col-md-4 offset-md-4 px-0">
                                        <button class="btn btn-md btn-block button-next background-button"
                                         style="text-transform: uppercase;">LOGIN</button>
                                    </div>
                                </div>
    
                                <div class="form-group" style="margin:50px 0 150px 0;">
                                    <div class="col-sm-8 offset-sm-2 col-md-4 offset-md-4 px-0">
                                        <a class="btn btn-register float-right" [routerLink]="['/register']" >Register</a>
                                        <label class="float-right" style="margin-right: 20px;"> Join with us </label>
                                    </div>
                                </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>