.ref-link {
    margin-top: 25px;
    height: 100%;
    display: flex;
}

.time, .user {
    background: #363636;
    color: #babcbe;
    padding: 15px 0px;
    text-align: center;
    float:left;
    border-bottom: 1px solid #191a1e;
}

.steamid, .email  {
    background: #252525;
    color: #ffffff;
    padding: 15px 0px;
    text-align: center;
    float:left;
    border-bottom: 1px solid #191a1e;
}   

