<div class="container-fluid">
    <div class="row">
        <div class="col-12 ref-link">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4    time ">Time</div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4    steamid">SteamID</div>
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4    user ">User</div>	
            <div class="col-lg-3 col-md-3 col-sm-0 col-xs-0    email">Email</div>
        </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding reflink-content" style="color: white;                padding: 15px; background-color: rgb(54, 54, 54);">No data</div>
</div>