.nav-style {
    background: #000;
    border-bottom: 1px solid #252525;
}

a {
    font-size: 18px;
    font-family: Arial;
    color: #fff !important;
    margin-right: 0;
    border-radius: 0;
    border: none;
    position: relative;
    display: block;
    padding: 10px 15px;
    cursor: pointer;
}

.bg {
    background: #252525;
}

.top {
    margin-top: 35px;
    padding-bottom: 100px;
}

.active {
    background-color: #000;
    border: none;
    border-bottom: 1px solid #f99910;
  
}

li {
    outline: none;
}

.title {
    background-color: #000 !important;
}
h3 {
    font-size: 17px;
    color: #f99910;
    font-family: Arial;
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
    padding: 15px;
}

.bg {
    padding-bottom: 5px;
}
 .content {
    background: #252525;
    padding: 15px 0;
    border: 0px solid #582599;
}

 p {
    color: #fff;
    padding: 0 15px;
}
input {
    margin: 15px;
    width: 93%;
    background: #363636;
    color: #fff;
    box-shadow: none;
    border-radius: 0;
    border: none;
}
 button {
    float: right;
    margin-right: 15px;
    background: #363636;
    border: none;
    color: #fff;
    min-width: 90px;
    border-radius: 0;
    min-height: 35px;
}

input:focus {
    background-color: #363636;
    outline: none;
}