<div class="container-fluid top">
    <div class="row">
        <div class="col-lg-8 col-md-12 bot">
            <ul class="nav nav-tabs col-lg-12 nav-style">
                <li class="nav-blog news" [routerLink]="['news']" routerLinkActive="active" ><a data-toggle="tab">News</a></li>
                <li class="nav-blog blogs" [routerLink]="['blogs']" routerLinkActive="active"><a data-toggle="tab">Blogs</a></li>
            </ul>
            <div class="col-12 bg px-0">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="col-lg-4 col-md-12 mt-lg-0 mt-md-4">
            <div class="row px-3">
                <div class="col-12 title">
                    <h3 class="title-part-color">Search</h3>
                </div>
                <div class="col-12 content">
                    <p>Search news, blogs</p>
                    <input type="text" class="form-control" placeholder="Enter your text search...">
                    <button type="button" class="btn">Search</button>
                </div>
            </div>
        </div>
    </div>
</div>