<div class="table-striped table-responsive history col-12">
    <table class="table">
        <thead>
            <tr>
                <th class="" style="width: 100px">SteamID</th>
                <th class="">User</th>
                <th class="">Type</th>
                <th class="">Time</th>
            </tr>
        </thead>
    </table>
</div>

