.side-events {
    height: 380px;
    background-color: #000;
    background-color: #000;
    border-bottom: 1px solid #252525;
    height: 95px;
    display: block;
    padding: 15px;
    color:white;
    
}
.title {
    font-size: 18px;
    font-family: 'Anton', sans-serif;
    text-transform: uppercase;
    max-width: 100%;
    margin-top: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 23px;
    max-height: 50px
    
}
.text {
    color: #929598;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;

    line-height: 16px;
    max-height: 36px;

    margin-bottom: 0;
    overflow: hidden;
    text-overflow: ellipsis;
  
    visibility: hidden;
    opacity: .7;
}

.background {
    width: 93%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 15px;
    opacity: 0;
    visibility: hidden;
}

.side-events:hover .background {
    visibility: visible;
    opacity: .65;
}

.side-events:hover .text {
    visibility: visible;
    opacity: .65;
}

