<link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
<div class="row">
    <div class="col-12"  *ngFor="let event of events">
        <div class="side-events">
            <h4 class="title" title="[Giveaway] Spooky Halloween ">{{ event.title }}</h4>
            
             <img class="background" [src]="event.background" alt="">
             <p class="text">{{ event.text }}</p>
           
        </div>
    </div>
</div>