<div class="col-12 news">
    <div class="row">
        <div class="col-3 avatar">
            <a>
                <img src="https://dota2bestyolo.com/upload/blog/z1586235198903_7045aca0c457028884d95ecd48e36019_1571649358169.jpg" alt="DIRETIDE DOTA 2 - THE HALLOWEEN EVENT WE HAVE ALL BEEN WAITING FOR" title="DIRETIDE DOTA 2 - THE HALLOWEEN EVENT WE HAVE ALL BEEN WAITING FOR">
            </a>
        </div>
        <div class="col-9 event-info">
            <div class="col-xs-12">
                <a>
                    <h4 title="DIRETIDE DOTA 2 - THE HALLOWEEN EVENT WE HAVE ALL BEEN WAITING FOR">DIRETIDE DOTA 2 - THE HALLOWEEN EVENT WE HAVE ALL BEEN WAITING FOR</h4>
                </a>
            </div>
            <div class="col-xs-12 info">
                <div class="row">
                    <div class="col-5 created_by">
                            <img src="https://dota2bestyolo.com/upload/avatars/file_1541152619581.png" alt="The Kingpin">
                            <span>The Kingpin</span>
                        </div>
                    <div class="col-4">2019-10-21 17:15</div>
                    <div class="col-3">View: 2563</div>
                </div>
            </div>
        </div>
    </div>
</div>

            