<div class="container-fluid top">
    <div class="row">
        <div class="col-12">
            <ul class="nav steam">
                <li class="privacy" style="background: #252525"><a>Privacy and Security</a></li>
            </ul>
        </div>
        <div class="col-12">
				<div class="setting">
					<div class="tip-content">
                        In order to be able to use our service, please make sure that:
                    </div>
                    <br>
					<div class="tip-content">1. Your Steam trade offer URL  is updated here : </div>
					<!-- <div class="text-center validate-tradlink"></div> -->
					<input class="col-9 col-xs-12 text-input" >

					<div class="col-12 text-center">
						<button class="btn btn-secondary" id="save-trade-link" type="button"> <span>Save</span></button>
						<button class="btn btn-secondary" type="button" id="return-back"> <span>Return</span></button>
					</div>

					<div class="col-12 tip-content">2. Your inventory privacy setting is set to "public"</div>
                    <div class="col-12 tip-content">3. Your Steam Mobile Authenticator is installed and activated for at least 15 days </div>
				</div>
			</div>
    </div>
</div>