.steam {
    font-size: 18px;
    font-family: Arial;
    border: none;
    background: #000;
    border-bottom: 1px solid #252525;
}

.privacy {
    color: #fff;
    border-radius: 0;
    border-bottom: 1px solid #f99910;
    background-color: #000;
    position: relative;
    display: block;
    padding: 10px 15px;
}

.setting {
    min-height: 250px;
    background: #252525;
    padding: 15px;
}

.tip-content {
    font-size: 15px;
    color: #ccc;
    padding: 0;
}

.text-input {
     background: #959595;
     border: none;
     color: #fff;
     font-size: 16px;
     padding: 5px;
    
}

.buttons {
    margin: 10px auto;
}

button {
    margin: 10px;
    font-size: 16px;
    font-family: Arial;
    color: #fff;
    background: #363636;
    min-width: 100px;
    border: 0;
}

button:hover {
    color: #f99910;
}

.top {
    margin-top: 25px;
}