.avatar img {
    max-width: 100%;
    max-height: 130px;
    border-radius: 3px;
    padding-left:10px;
}
 h4 {
    margin-top: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #fff;
    font-size: 18px !important;
    
}

.created_by img {
    height: 40px;
    width: 40px;
    padding-right: 5px;
}

.info {
    color: #999;
    font-size: 15px;
    margin-top: 15px;
}
.news:nth-child(odd) {
    background: #181818;
}



.news {
    padding: 15px 0;
}

@media only screen and (max-width: 448px) {
    .avatar {
        display: none;
    }
}


