<div class="col-12 news" *ngFor="let blog of blogs">
        <div class="row">
            <div  class="col-12">
                <div class="row">
                    <div class="col-3 avatar">
                        <a>
                            <img [src]="blog.image" alt="DIRETIDE DOTA 2 - THE HALLOWEEN EVENT WE HAVE ALL BEEN WAITING FOR" title="DIRETIDE DOTA 2 - THE HALLOWEEN EVENT WE HAVE ALL BEEN WAITING FOR">
                        </a>
                    </div>
                    <div class="col-9 event-info">
                        <div class="col-xs-12">
                            <a>
                                <h4 title="DIRETIDE DOTA 2 - THE HALLOWEEN EVENT WE HAVE ALL BEEN WAITING FOR">{{ blog.title }}</h4>
                            </a>
                        </div>
                        <div class="col-xs-12 info">
                            <div class="row">
                                <div class="col-5 created_by">
                                        <img [src]="blog.authorImg" alt="The Kingpin">
                                        <span>{{ blog.author }}</span>
                                    </div>
                                <div class="col-4">{{ blog.date }}</div>
                                <div class="col-3">{{ blog.view }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
                