<div class="containter-fluid">
    <div class="row mx-0">
        <div class="col-10 col-xs12 offset-1">
            <div class="content-head">
                <p>Account Registration</p>
                <div class="line">&nbsp;
                </div>
            </div>
            
            <div class="col-12">
                    <div class="alert alert-danger col-4 offset-4" style="text-align: center;" *ngIf="submitted && error"> 
                        <p>
                            {{ error }}
                        </p>
                    </div>
                    <div *ngIf="registered && isLoading" class="alert alert-success col-4 offset-4" style="text-align: center;">
                        <h5>REGISTRATION SUCCESS</h5>
                    </div>
                    <div *ngIf="isLoading" style="text-align: center; height: 700px;" > 
                            <app-loading-spinner></app-loading-spinner>
                    </div>
                    <form (ngSubmit)="onSubmit()"[formGroup]="registerForm" *ngIf="!isLoading" >
                        <div class="form-group">
                            <div class="col-sm-8 offset-sm-2 col-md-4 offset-md-4 px-0 mt-3">
                                <label class="col-xs-3 text-right control-label" for="email">Email</label>
                                <input class="textinput" id="email" type="email" formControlName="email">
                                <div  *ngIf="submitted && f.email.errors" class="error-color">
                                    <span *ngIf="f.email.errors.email ">
                                    Please enter a valid email!
                                    </span>
                                    <span *ngIf="f.email.errors.required">
                                            Email is required!
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-8 offset-sm-2 col-md-4 offset-md-4 px-0 mt-3">
                                <label class="col-xs-3 text-right control-label" for="nickname">Nickname</label>
                                <input class="textinput" id="nickname" type="text" formControlName="nickname"> 
                                <div  *ngIf="submitted && f.nickname.errors" class="error-color">
                                    <span *ngIf="f.nickname.errors.required">
                                            Nickname is required!
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-8 offset-sm-2 col-md-4 offset-md-4 px-0 mt-3">
                                <label class="col-xs-3 text-right control-label" for="password">Password</label>
                                <input class="textinput" id="password" type="password" formControlName="password"> 
                                <div *ngIf="submitted && f.password.errors" class="error-color">
                                    <span *ngIf="f.password.errors.pattern" >
                                        Please enter your password! <br> Password must have 8-20 characters and contain both uppercase and number.
                                    </span>
                                    <span *ngIf="f.password.errors.required">
                                            Password is required!
                                    </span>
                                </div>
                               
                                
                            </div>
                            <div class="col-sm-8 offset-sm-2 col-md-4 offset-md-4 px-0 mt-3">
                                <label class="col-xs-3 text-right control-label" for="confirmPassword">Confirm Password</label>
                                <input class="textinput" id="confirmPassword" type="password" formControlName="confirmPassword"> 
                                <div *ngIf="submitted &&  f.confirmPassword.errors" class="error-color">
                                    <span *ngIf="f.confirmPassword.errors.mustMatch">
                                        Passwords must match</span>
                                    <span *ngIf="f.confirmPassword.errors.required">
                                         Confirm Password is required!
                                    </span>
                                </div>
                            </div>
                            <div class="col-sm-8 offset-sm-2 col-md-6 offset-md-4 px-0 mt-3">
                                    <label class="text-right col-3 control-label" for=""></label>
                                    <input type="checkbox" id="remember_me" name="remember_me" formControlName="acceptTerms">
                                    <label for="remember_me" class="remember-me">I agree with the 
                                        <a target="_blank" >
                                            <span style="color:yellow">Terms and conditions of dota2bestyolo.com</span>
                                        </a>
                                    </label>
                                    <br>
                                    <span *ngIf="submitted && f.acceptTerms.errors" class="error-color">
                                            You must accept our terms to continue.
                                        </span>
                                </div>
                        </div>
                            <div class="form-group">
                                <div class="col-sm-8 offset-sm-2 col-md-4 offset-md-4 px-0">
                                    <button type="submit" id="login-button" class="btn btn-md btn-block button-next background-button" 
                                            style="text-transform: uppercase;">register</button>
                                </div>
                            </div>

                            <div class="form-group" style="margin:50px 0 150px 0;">
                                <div class="col-sm-8 offset-sm-2 col-md-4 offset-md-4 px-0">
                                    <a class="btn btn-register background-button btn-block" [routerLink]="['/login']">Already own an account</a>
                                </div>
                            </div>
                    </form>
                </div>
        </div>
        
    </div>
</div>