.open-case-content {
    display: table;
    border-collapse: collapse;
    position: relative;
    overflow: hidden;
    color: #ccc;
    text-align: center;
    padding: 15px 0;
    margin: 15px 0;
    border-bottom: 1px solid #444;
}

.row-style {
    background-color: black;
    padding: 0 10px;
}