.store {
    background-color: #292929;
    
}

.title-store {
    font-size: 17px;
    color: #f99910;
    font-family: arial;
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
    padding: 15px 20px;
}

.store-flower {
    position: absolute;
    right: -5px;
    top: -6px;
}
.flower {
    height: 65px;
    vertical-align: middle;
    border: 0;
}

.store-content {
    padding: 10px 10px 5px 10px;
    background: #000;
    height: 100%;
    width: 100%;
    
}

.store-item {
    width: 18.5%;
    margin: 0.75%;
    background: #484848;
    padding-top: 0px;
    float: left;
    padding-bottom: 20px;
    margin-bottom: 15px;
    min-height: 205px;
    border: 1px solid white;
}

.item {
    width: 100%;
    transition: all 0.3s;
    background-color: transparent;
    vertical-align: middle;
    cursor: pointer;
    height: 106px;
}

.item-type {
    position: relative;
    bottom: 19px;
    left: 0;
    text-align: center;
    width: 100%;
    font-size: 13px;
    background: rgba(0, 0, 0, 0.75);
    color: rgb(228,174,57)!important;
}

.mythical {
    color:rgb(136,71,255)!important;
}

.itemName {
    padding: 10px 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 40px;
    color: #fff;
    text-align: center !important;
    position: relative;
    
}
.itemPrice{
    border: 1px solid #f99910;
    border-radius: 24px;
    width: 120px;
    height: 30px;
    line-height: 30px;
    margin-left: calc(50% - 60px);
    color: #f99910;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}
.coin {
    width: 19px;
    height: 19px;
    margin-top: -2px;
}