<div class="row">
    <div class="col-12">
        <div class="store">
            <p class="title-store">DOTA STORE</p>
        </div>
        <!-- <div class="store-flower">
            <img src="https://dota2bestyolo.com/images/2019/ti9/icon-store-top-right.png" alt="" class="flower">
        </div> -->
        <div class="row">
            <div class="col-lg-12">
                    <div class="store-content">
                            <div class="store-item" *ngFor="let i of items">
                                
                                <div class="item">
                                    <img class="item"[src]="i.itemDota" alt="">
                                    <p class="item-type" [ngClass]="{mythical: i.itemType === 'Mythical'}">{{ i.itemType }}</p>
                                </div>
                                <div class="itemName" >
                                    <p>{{ i.itemName }}</p>
                                </div>
                                <div class="itemPrice">
                                    <p>{{ i.itemPrice }} <img  class="coin" src="https://dota2bestyolo.com/images/icon-price-21.png" alt=""></p>
                                </div>
                            </div> 
                    </div>
            </div>
        </div>

    </div>
</div>
  
