body {
    background-image: url('https://dota2bestyolo.com/images/2019/halloween/bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    height: 100%;
}

.close {
    position: absolute;
    right: 32px;
    top: 32px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
  }
  .close:hover {
    opacity: 1;
  }
  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close:before {
    transform: rotate(45deg);
  }
  .close:after {
    transform: rotate(-45deg);
  }
  div.notice {
    max-width: 100%;
    background-color: #3D3F3D;
    position: relative;
    top: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    line-height: 30px;
    height: 30px;
    overflow: hidden;
}

.notice-title{
    float: left;
    margin-right: 20px;
    background: #f99910;
    color: #fff;
    position: relative;
    padding-left: 12px;
    box-sizing: content-box;
    padding-right: 10px;
    line-height: 30px;
    margin-right: 10px;
    font-size: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.notice-content{
    color: #f99910;
    font-size: 15px;
}

.notice-close {
    float: right;
    height: 30px;
    padding: 2px 13px 3px 0;
    color:white !important;
    font-weight: bold;
}
