<app-header></app-header>

<body>
    <div class="notice"  [hidden] = "isShow">
            <a style="cursor:pointer" class="btn notice-close"  (click)="toggleDisplay()"><span>X</span></a>
            <span class="notice-title">Notice</span><p class="notice-content">Store & withdrawal will be open at 11:00 AM(GTM +8) today.</p>
    </div>
    <router-outlet ></router-outlet>
</body>
<app-footer></app-footer> 
