ul {
    font-size: 18px;
    font-family: arial;
    border: none;
    background: #252525;
  
}
.top {
    margin-top: 25px;
}
a:visited {
    background: #000;
}

 a {
    border: none;
    margin: 10px;
}

.tab-game-coin {
    background-color: black;
    padding :10px 15px;
    cursor: pointer;
}


.menu {
    background: #000;
    border-bottom: 1px solid #252525;
}
.game-coin {
    padding: 10px 15px;
    color: #898989;
    font-size: 16px;
    font-family: arial;
    cursor: pointer;
    outline: none !important;
}

.game-coin:hover {
    color:white;
}


.win {
    font-family: arial;
    font-size: 15px;
    color: #999;
    padding: 10px 15px 0 0;
  
}

.active {
    border-bottom: 1px solid #f99910;
}
