
    <div class="row mx-1">
        <div class="col-12 top">
            <ul class="nav nav-tabs">
                <li role="presentation" class="pull-left tab-game-coin">
                    <a data-toggle="tab" aria-expanded="true" style="min-width: 80px; text-align: center;">
                        <img src="https://dota2bestyolo.com/images/icon-price-21.png" alt="coin">
                    </a>
                </li> 
            </ul>
            <ul class="nav nav-tabs col-12 menu">
                <li role="presentation" class="game-coin" [routerLink]="['my-game']" routerLinkActive="active">
                    <a data-toggle="tab"  aria-expanded="true">
                        My Game
                    </a>
                </li>
                
                <li role="presentation" class="game-coin" [routerLink]="['my-case']" routerLinkActive="active">
                    <a data-toggle="tab" id="mycase-button-coin" aria-expanded="false">
                        My Case
                    </a>
                </li>
                
                <li role="presentation" class="game-coin" [routerLink]="['cash-back']" routerLinkActive="active">
                    <a id="myreward-button">
                        Cash Back
                        <img src="https://dota2bestyolo.com/images/icon/new-2.png" alt="icon new" >
                    </a>
                </li>
                <li class="win ml-auto">Win Rate: 0%</li>
                <li class="win">Games played: 0</li>
            </ul>
         </div>
         
    </div>
    <div class="row mx-1">
            <div class="col-12">
                <router-outlet ></router-outlet>
            </div>        
        </div>
