
@media only screen and (max-width: 991px) {
    app-my-menu {
        display: none;
    }
}
.notice {
    background: #252525;
    padding: 10px 20px;
    margin-bottom: 30px;
}
.notice p {
    font-family: Arial;
    font-weight: 700;
    font-size: 16px;
    color: #fff;
    padding-top: 5px;
}
.info {
    border-bottom: 1px solid #404040;
    background: #303030;
    /* background-color: #2d1e3a; */
    padding: 20px;
}


.avatar {
    padding: 5px 15px;
    
}

.avatar img{
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.your-id {
    padding: 5px 15px 5px 10px;
}
.yourid-player {
    font-size: 18px;
    font-family: Arial;
    color: #fff;
    padding: 0 5px 0 0;
}

.yourid-level {
    color: #333;
    font-style: italic;
    border: 2px solid #c4c6c6;
    box-shadow: 0 2px 2px 0;
    font-size: 11px;
    background: #959595;
    padding: 0 5px;
    border-radius: 8px;
    display: inline-block;
}

.user-steamid {
    font-size: 14px;
    font-family: Arial;
    color: #fff;
}

.coin-diamond{
    padding: 5px 0;
    text-align: center !important;
    position: relative;
    left:10px;
}

.coin {
    float:left;
}

.silver-coin{
    color: #ccc;
    
}

.coin img{
    vertical-align: middle;
    border: 0;
}


.promo {
    margin-top: -5px;
    padding: 5px 10px;
    color: #999;
    position: relative;
    float:right;
}

.user-gold-coin {
    color: white;
}

.player-history {
    text-align: center;
    background: #252525;
}
.player-history a {
    font-family: Arial;
    font-size: 15px;
    color: #999;
    text-decoration: none;
}

.player-history a:hover {
    color:#f99910;
}

.top-tab {
    font-size: 16px;
    font-family: Arial;
    background: #464646;
    border-bottom: none;
    
}
.tab-option {
    font-size: 16px;
    font-family: Arial;
    background: #292929;
    border-bottom: none;
    
}
.top a {
    border: none;
    cursor: pointer;
}

.top {
    outline: none !important;
    color: #ccc;
    padding: 10px 20px;
}
.top:hover {
    color: #f99910;
    border-radius: 0;
    background: #252525;
}

.li-option {
    outline: none !important;
    color: #ccc;
    padding: 10px 15px;
}

.active {
    color: #f99910 !important;
    border-radius: 0;
    background: #252525;
}
.top-margin {
    margin-top:35px;
}



.li-option:hover {
    background-color:#252525;
    color: #fff;
    border-bottom: 1px solid #f99910;
    padding-bottom: 9px !important;
}
.icon-active {
    display:none;
}

li:active .icon-active {
    display: block !important;
}
li:active .icon-normal {
    display: none !important;
}

.type-option    {
    font-size: 16px;
    font-family: Arial;
    background: #000000;
    border-bottom: none;
}

.type-option .li-option:hover {
    background-color:black ;
}
 .tournament-title {
    background: #292929;
    border: 1px solid #404040;
    border-right: none;
    border-left: none;
    text-transform: capitalize;
    color:white;
    padding:13px;
}

.tournament-title img {
    padding-right: 4px;
    margin-top: -4px;
}
.wbd-time {
    color: #90b526;
}
.match-content {
    background: #303030;
    padding: 10px 10px;
}
.content {  
    background: #202020;
    z-index: 2;
    cursor: pointer;
    transition-property: background;
    transition-duration: .5s;
    transition-timing-function: linear;
    box-shadow: 0 0 1px transparent;
}

.content h5{
    font-family: Arial;
    font-size: 14px;
    color: #ccc;
}

.name {
    text-align: right;
}

.bo {
    font-size: 18px;
    color: #fefefe;
    font-family: Arial;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 0;
    text-align: center;
}