<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid top-margin">
    <div class="row">
        <div class="col-lg-8 col-md-12 mb-4" >
            <ul class="nav nav-tabs tab-option">
                <li class="nav-title li-option mr-auto">
                    <a class="text-uppercase ">Matches</a>
                </li>
                <li class="  li-option ">
                    <a class="text-right">
                    <img src="https://dota2bestyolo.com/images/icon/icon-all-match.png" alt="icon all match">
                    </a>
                </li>
                <li class="  li-option ">
                    <a class="text-right">
                    <img class="icon-active" src="https://dota2bestyolo.com/images/icon/ic_dota2_active.png" alt="dota2">
                    <img class="icon-normal" src="https://dota2bestyolo.com/images/icon/ic_dota2.png" alt="dota2">
                    </a>
                </li>
                <li class="li-option">
                    <a class="text-right">
                    <img class="icon-active" src="https://dota2bestyolo.com/images/icon/ic_csgo_active.png" alt="csgo">
                    <img class="icon-normal" src="https://dota2bestyolo.com/images/icon/ic_csgo.png" alt="csgo">
                    </a>
                </li>


                <li class="  li-option ">
                    <a class="text-right tab-rate-5">
                    <img class="icon-active" src="https://dota2bestyolo.com/images/icon/ic_lol_active.png" alt="lol">
                    <img class="icon-normal" src="https://dota2bestyolo.com/images/icon/ic_lol.png" alt="lol">
                    </a>
                </li>


                <li class="  li-option ">
                    <a class="text-right">
                    <img class="icon-active" src="https://dota2bestyolo.com/images/icon/ic_sport_active.png" alt="sport">
                    <img class="icon-normal" src="https://dota2bestyolo.com/images/icon/ic_sport.png" alt="sport">
                    </a>
                </li>


                <li class="  li-option ">
                    <a class="text-right ">
                    <img class="icon-active" src="https://dota2bestyolo.com/images/icon/ic_basketball_active.png" alt="basketball">
                    <img class="icon-normal" src="https://dota2bestyolo.com/images/icon/ic_basketball.png" alt="basketball">
                    </a>
                </li>
                </ul>
                <div class="col-12 px-0">
                    <ul class="col-12 nav nav-tabs type-option">
                        <li role="presentation" class="li-option"><a data-toggle="tab"  aria-expanded="true">All</a></li>
                        <li role="presentation" class="li-option"><a data-toggle="tab" aria-expanded="false">Live</a></li>
                        <li role="presentation" class="li-option"><a data-toggle="tab" aria-expanded="false">Upcoming</a></li>
                        <li role="presentation" class="li-option"><a data-toggle="tab" aria-expanded="false">Settled</a></li>
                    </ul>
                </div>
                <div class="col-12 px-0">
                    <div class="col-12 title tournament-title">
                        <div class="row">
                            <div class="col-8 title-tour-name">
                                <img src="https://dota2bestyolo.com/images/icon/icon-sport-match.png" alt="sport">International - Friendlies
                            </div>
                            <div class="col-4 title-time-begin text-right">
                                <div class="content-time upcoming wbd-time">
                                    <span class="remainTime">2h from now</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 match-content">
                    <div class="col2 content" 
                            style="background-image: url(https://dota2bestyolo.com/upload/tournament/parimatch_league_logo_1572366261551.jpg); 
                                background-repeat: no-repeat; background-position: top right; background-size: 25% 100%;">
                            <div class="row">
                                <div class="col-3 name pt-4 pb-2">
                                    <h5>Gentlemen</h5>
                                    <h5 class="rate">1 : 1.06</h5>
                                </div>
                                <div class="col-1 py-2 team">
                                    <img src="https://dota2bestyolo.com/upload/team/imgpsh_fullsize_1505535286739_1508619364828_1562318014781_1572323669009.png" alt="Gentlemen" height="55">
                                </div>
                                <div class="col-2 bo">BO1</div>
                                <div class="col-2 py-2 team pr-0">
                                    <img src="https://dota2bestyolo.com/upload/team/190px_jfshfh178_logo_1570598081693.jpg" alt="jfshfh178" height="55">
                                </div>
                                <div class="col-3 name2 pt-4 pb-2 px-0">
                                    <h5>jfshfh178</h5>
                                    <h5 class="rate">1 : 0.84</h5>
                                </div>
                            </div>
                    </div>
                </div>
        </div>
        <div class="col-lg-4 col-md-12">
            <div class="col-12 notice">
                <p>All the games in our website are just for fun. The items and coins you win cannot be converted to money
                </p>
            </div>
            <div *ngIf="isLoggedin" class="col-12 px-0">
                <div class="col-12 info">
                    <div class="row">
                        <div class="col-3 avatar">
                            <a style="cursor: pointer;"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ad/adb9cbe33e0ba01fac0e68a2e9d15828d5989cd0_medium.jpg"></a>
                        </div>
                        <div class="col-9">
                            <div class="your-id ">
                                <span class="yourid-player">Marl 3</span> 
                                <span class="yourid-level">Lv 1</span>
                                <br>
                                <span class="user-steamid">76561198102798867</span>
                            </div>
                            <div class="col-12 coin-diamond ">
                                    <span class="coin ml-auto">
                                        <img src="https://dota2bestyolo.com/images/icon-price-21.png" alt="gold coin"> 
                                        <span class="user-gold-coin"> 0 </span>
                                    </span>
                                    <span class="silver-coin mx-auto">
                                        <img src="https://dota2bestyolo.com/images/diamond.png" alt="silver coin" style="width: 19px">   
                                        <span class="user-gold-coin"> 0 </span>
                                    </span>
                                    <span class="promo mr-auto">Promo Codes</span>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="col-12 player-history">
                    <div class="row py-2">
                        <div class="col-4">
                            <a [routerLink]="['../my-account/my-inventory/d2by-inventory']" ><i class="fa fa-history" aria-hidden="true"></i> History</a>			
                        </div>
                        <div class="col-4">
                            <a href="https://docs.google.com/forms/d/e/1FAIpQLScQwRZ_fT1hzbWyLtOsZtY1V3U2t_sfzcTYTxKmQ-ga_o64gQ/viewform" target="_blank" rel="noreferrer">
                                <i class="fa fa-user-md" aria-hidden="true"></i> Support</a>
                        </div>
                        <div class="col-4">
                            <a [routerLink]="['../my-account/my-inventory/d2by-inventory']"><i class="fa fa-briefcase" aria-hidden="true"></i> Inventory</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 px-0 mt-4">
                <ul class="nav nav-tabs top-tab">
                        <li role="presentation" class="top" [routerLink]="['win']" routerLinkActive="active" ><a  data-toggle="tab" aria-expanded="true">Top Daily Win</a></li>
                        <li role="presentation" class="top" [routerLink]="['earn']" routerLinkActive="active" ><a data-toggle="tab" aria-expanded="false">Top Earners</a></li>
                </ul>
                <router-outlet></router-outlet>
            </div>
            <div class="col-12 px-0 mt-4">
                <app-my-menu></app-my-menu>
            </div>
        </div>
    </div>
</div>