<div class="container-fluid">
    <div class="row row-style">
        <div class="col-12 value">
            <div class="col-3 detail-value float-left">
                <h5>Bet Value</h5>
                <h4 class="value-bet">0</h4>
                <img class="float-right" src="https://dota2bestyolo.com/images/icon/icon-bet-value-myplay.png" alt="icon bet">
            </div>
            <div class="col-3 detail-value float-left">
                <h5>Win Value</h5>
                <h4 style="color:yellow">0</h4>
                <img class="float-right" src="https://dota2bestyolo.com/images/icon/icon-win-value-myplay.png" alt="icon bet">
            </div>
            <div class="col-3 detail-value float-left">
                <h5>Lose Value</h5>
                <h4 style="color:red">0</h4>
                <img class="float-right" src="https://dota2bestyolo.com/images/icon/icon-lose-value-myplay.png" alt="icon bet">
            </div>
            <div class="col-3 detail-value float-left">
                <h5>Total Value</h5>
                <h4 class="value-bet">0</h4>
                <img class="float-right" src="https://dota2bestyolo.com/images/icon/icon-total-value-myplay.png" alt="icon bet">
            </div>
        </div>
        <div class="col-12">
                <ul class="nav nav-tabs">
                    <li role="presentation">
                        <button class="btn btn-default" >
                            All
                        </button>
                    </li>
                    <li role="presentation">
                        <button class="btn btn-default" >
                            Win
                        </button>
                    </li>
                    <li role="presentation">
                        <button class="btn btn-default" >
                            Lose
                        </button>
                    </li>
                    <li role="presentation" class="active">
                        <button class="btn btn-default" >
                            Ongoing
                        </button>
                    </li>
                    <li role="presentation" >
                        <button class="btn btn-default" >
                            Cancel
                        </button>
                    </li>
                </ul>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>
                                    Time
                                </th>
                                <th class="tournament-name">
                                    Tournament
                                </th>
                                <th>
                                    Match
                                </th>
                                <th class="bet-type">
                                    Bet type
                                </th>
                                <th>
                                    Bet on
                                </th>
                                <th>
                                    Bet
                                </th>
                                <th>
                                    Result
                                </th>
                                <th>
                                    Value
                                </th>
                            </tr>
                        </thead>
                        <tbody><tr><td colspan="8" class="value-win">There is no data for this item</td></tr></tbody>
                    </table>
            </div>
    </div>
</div>