.row-style {
    background-color: black;
}
.value {
   padding: 15px 10px 15px 5px;
  
}

.detail-value {
   background: #303030;
   padding: 0 10px;
   margin: 0 1%;
   width: 23%;
}
img {
   position: absolute;
   top: 10px;
   right: 0;
   width: 60px;
   height: 44px;
   padding-right: 10px;
}

.value-bet {
   color: #ccc;
}

h5 {
   font-family: arial;
   font-size: 15px;
   color: #999;
   max-width: 120px;
   padding-top: 10px;
}

h4 {
   font-family: arial;
   font-size: 18px;
   padding-bottom: 10px;
}
ul {  
   font-size: 18px;
   font-family: arial;
   border: none;
   background: #252525;
}

button {
   font-family: arial;
   font-size: 16px;
   border-radius: 16px;
   border: 1px solid #404040;
   color: #999;
   background: #202020;
   margin: 15px 10px 15px 5px;
   
}


button:hover {
   color: #f99910;
}

li.active button {
   color: #fff;
   background: #303030;
}

table {
   background: #303030;
   color: #999;
   margin-bottom: 10px;
   border:  none !important;
   font-size: 14px;
}
th {
   border: 1px solid #404040;
    border-bottom: none !important;
}

td {
   border: 1px solid #444;
}

.value-win {
   color: #ebb82c;
}
