.my-message-tab {
    color: #f99910 !important;
    background: #464646;
    border-radius: 0;
    border-bottom: 1px solid #f99910;
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-style {
    font-size: 18px;
    font-family: Arial;
    border: none;
    background: #252525;

}

.message {
    color:white;
    text-align: center;
}

.content {
  
        background: #363636;

        border: 1px solid #464646;
        border-top: none;
            padding: 10px;
}

.top {
    margin-top: 25px;
}
