<div class="container-fluid top">
    <div class="row">
        <div class="col-12">
            <ul class="nav nav-tabs nav-style " style="border: 1px solid #464646;border-bottom: none;">
                    <li class="active">
                        <a data-toggle="tab" class="my-message-tab">My Messages</a>
                    </li>
            </ul>
        </div>
        <div class="col-12">
            <div class="col-12 content">
                <div class="col-xs-12" style="background: #252525;padding-bottom: 25px;">
                    <p class="message">There are no messages</p>
                </div>
            </div>
        </div>
    </div>
</div>