.deposit {
    float:right;
    background-color: #F0AD4E !important;
    color: white;
}

.function {
    margin: 15px 0px;
}

.btn-style {
    background: #464646;
    cursor: pointer;
    border: 1px solid #524d4d;
    color: #fff;
    margin-right: 10px;
    outline: none;
}
.bot-notice {
    font-size: 14px;
}
.info-steam-inventory {
    float: right;
    color: #999;
    padding: 0 10px 5px 0;
}

.price {
    background-color: #111;
    color: #707171;
    padding: 5px 20px !important;
}

.search-option {
    width: 130px;
    margin-left: 10px;
    margin-bottom: 10px;
    float:right;
}
input {
    background: #21211f;
    color: #707171;
    border: none;
    box-shadow: none;
}
select {
    background-color: #21211f;
    border: 1px solid #21211f;
    border-radius: 4px;
    box-shadow: none;
    color: #707070;
    outline: none;
}

.steam-content-items {
    background: #000;
    padding: 10px;
    margin-bottom: 10px;
}
option {
    background-color: #21211f;
    color: #707070
}

select:focus {
    background-color: #21211f;
    outline: none !important;
}

input:focus {
    background-color: #21211f;
    outline: none !important;
    outline-color: transparent !important;
}

.fa-search {
    position: absolute;
    top: 10px;
    right: 25px;
    color: white;
    cursor: pointer;
}