<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="function">
                    <button type="button" class="btn btn-style" >Check All</button>
                    <button type="button" class="btn btn-style deposit btn-warning">Deposit</button>
                </div>
                <div class="bot-notice" style="float: left; color: #ccc">
                    (If you are having problem when trading with our bots, please review your settings <a [routerLink]="['/my-account/my-steam-url']"   style="color: #f99910; text-decoration: underline;">here</a>)
                </div>
                <div class="bot-notice" style="float: left; color: red">
                        Please open the offer in our website button instead of your phone.
                        <a href="javascript:;" style="color: #f99910; text-decoration: underline; background: none;" data-toggle="modal" data-target="#myModal">How to avoid the fake bot?</a>
                </div>
                <div class="info-steam-inventory">
                    Item Value: $ <span id="value-invent-dota2"></span>
                    &nbsp;&nbsp; Items: <span id="count-invent-dota2"></span>
                </div>
            </div>
            <div class="col-12">
                <div class="form-group float-left">
                    <button class="btn btn-style price" type="button">Price </button>
                    <button class="btn  btn-style price"> <img src="https://dota2bestyolo.com/images/icon/coin.png" alt="coin" style="margin-right: 2px;">0</button>
                    <span style="color:#fff;">(Fee: 0 %)</span>
                </div>

                <div class="form-group search-option">
                    <i class="fa fa-search search-name"></i>
                    <input class="form-control" placeholder="Search" type="text" name="search_by_name_dota2">
                </div>

                <div class="float-right search-option">
                    <select class="form-control" name="steam_item_rarity">
                        <option value="">Rarity All</option>
                        <option value="common">Common</option>
                        <option value="uncommon">Uncommon</option>
                        <option value="rare">Rare</option>
                        <option value="mythical">Mythical</option>
                        <option value="immortal">Immortal</option>
                        <option value="legendary">Legendary</option>
                        <option value="arcana">Arcana</option>
                        <option value="ancient">Ancient</option>
                    </select>
                </div>


                <div class="float-right search-option">
                    <select class="form-control" name="steam_item_quality">
                        <option value="">Quality All</option>
                        <option value="unique">Standard</option>
                        <option value="strange">Inscribed</option>
                        <option value="lucky">Auspicious</option>
                        <option value="tournament">Heroic</option>
                        <option value="genuine">Genuine</option>
                        <option value="frozen">Frozen</option>
                        <option value="haunted">Cursed</option>
                        <option value="autographed">Autographed</option>
                        <option value="base">Base</option>
                        <option value="corrupted">Corrupted</option>
                        <option value="unusual">Unusual</option>
                        <option value="infused">Infused</option>
                        <option value="exalted">Exalted</option>
                        <option value="vintage">Elder</option>
                        <option value="legacy">Legacy</option>
                    </select>
                </div>

                <div class="float-right search-option">
                    <select class="form-control" name="steam_item_hero">
                        <option value="">Hero All</option>	
                        <option value="npc_dota_hero_abaddon">abaddon</option>
                        <option value="npc_dota_hero_alchemist">alchemist</option>
                        <option value="npc_dota_hero_ancient_apparition">ancient apparition</option>
                        <option value="npc_dota_hero_anti-mage">anti-mage</option>
                        <option value="npc_dota_hero_axe">axe</option>
                        <option value="npc_dota_hero_bane">bane</option>
                        <option value="npc_dota_hero_batrider">batrider</option>
                        <option value="npc_dota_hero_beastmaster">beastmaster</option>
                        <option value="npc_dota_hero_bloodseeker">bloodseeker</option>
                        <option value="npc_dota_hero_bounty_hunter">bounty hunter</option>
                        <option value="npc_dota_hero_brewmaster">brewmaster</option>
                        <option value="npc_dota_hero_bristleback">bristleback</option>
                        <option value="npc_dota_hero_broodmother">broodmother</option>
                        <option value="npc_dota_hero_centaur_warrunner">centaur warrunner</option>
                        <option value="npc_dota_hero_chaos_knight">chaos knight</option>
                        <option value="npc_dota_hero_chen">chen</option>
                        <option value="npc_dota_hero_clinkz">clinkz</option>
                        <option value="npc_dota_hero_clockwerk">clockwerk</option>
                        <option value="npc_dota_hero_crystal_maiden">crystal maiden</option>
                        <option value="npc_dota_hero_dark_seer">dark seer</option>
                        <option value="npc_dota_hero_dazzle">dazzle</option>
                        <option value="npc_dota_hero_death_prophet">death prophet</option>
                        <option value="npc_dota_hero_disruptor">disruptor</option>
                        <option value="npc_dota_hero_doom">doom</option>
                        <option value="npc_dota_hero_dragon_knight">dragon knight</option>
                        <option value="npc_dota_hero_drow_ranger">drow ranger</option>
                        <option value="npc_dota_hero_earth_spirit">earth spirit</option>
                        <option value="npc_dota_hero_earthshaker">earthshaker</option>
                        <option value="npc_dota_hero_elder_titan">elder titan</option>
                        <option value="npc_dota_hero_ember_spirit">ember spirit</option>
                        <option value="npc_dota_hero_enchantress">enchantress</option>
                        <option value="npc_dota_hero_enigma">enigma</option>
                        <option value="npc_dota_hero_faceless_void">faceless void</option>
                        <option value="npc_dota_hero_gyrocopter">gyrocopter</option>
                        <option value="npc_dota_hero_huskar">huskar</option>
                        <option value="npc_dota_hero_invoker">invoker</option>
                        <option value="npc_dota_hero_juggernaut">juggernaut</option>
                        <option value="npc_dota_hero_keeper_of_the_light">keeper of the light</option>
                        <option value="npc_dota_hero_kunkka">kunkka</option>
                        <option value="npc_dota_hero_legion_commander">legion commander</option>
                        <option value="npc_dota_hero_leshrac">leshrac</option>
                        <option value="npc_dota_hero_lich">lich</option>
                        <option value="npc_dota_hero_lifestealer">lifestealer</option>
                        <option value="npc_dota_hero_lina">lina</option>
                        <option value="npc_dota_hero_lion">lion</option>
                        <option value="npc_dota_hero_lone_druid">lone druid</option>
                        <option value="npc_dota_hero_luna">luna</option>
                        <option value="npc_dota_hero_lycan">lycan</option>
                        <option value="npc_dota_hero_magnus">magnus</option>
                        <option value="npc_dota_hero_medusa">medusa</option>
                        <option value="npc_dota_hero_meepo">meepo</option>
                        <option value="npc_dota_hero_mirana">mirana</option>
                        <option value="npc_dota_hero_monkey_king">monkey king</option>
                        <option value="npc_dota_hero_morphling">morphling</option>
                        <option value="npc_dota_hero_naga_siren">naga siren</option>
                        <option value="npc_dota_hero_nature's_prophet">nature's prophet</option>
                        <option value="npc_dota_hero_necrophos">necrophos</option>
                        <option value="npc_dota_hero_night_stalker">night stalker</option>
                        <option value="npc_dota_hero_nyx_assassin">nyx assassin</option>
                        <option value="npc_dota_hero_ogre_magi">ogre magi</option>
                        <option value="npc_dota_hero_omniknight">omniknight</option>
                        <option value="npc_dota_hero_other">oracle</option>
                        <option value="npc_dota_hero_outworld_devourer">outworld devourer</option>
                        <option value="npc_dota_hero_phantom_assassin">phantom assassin</option>
                        <option value="npc_dota_hero_phantom_lancer">phantom lancer</option>
                        <option value="npc_dota_hero_phoenix">phoenix</option>
                        <option value="npc_dota_hero_puck">puck</option>
                        <option value="npc_dota_hero_pudge">pudge</option>
                        <option value="npc_dota_hero_pugna">pugna</option>
                        <option value="npc_dota_hero_queen_of_pain">queen of pain</option>
                        <option value="npc_dota_hero_razor">razor</option>
                        <option value="npc_dota_hero_riki">riki</option>
                        <option value="npc_dota_hero_rubick">rubick</option>
                        <option value="npc_dota_hero_sand_king">sand king</option>
                        <option value="npc_dota_hero_shadow_demon">shadow demon</option>
                        <option value="npc_dota_hero_shadow_fiend">shadow fiend</option>
                        <option value="npc_dota_hero_shadow_shaman">shadow shaman</option>
                        <option value="npc_dota_hero_silencer">silencer</option>
                        <option value="npc_dota_hero_skywrath_mage">skywrath mage</option>
                        <option value="npc_dota_hero_slardar">slardar</option>
                        <option value="npc_dota_hero_slark">slark</option>
                        <option value="npc_dota_hero_sniper">sniper</option>
                        <option value="npc_dota_hero_spectre">spectre</option>
                        <option value="npc_dota_hero_spirit_breaker">spirit breaker</option>
                        <option value="npc_dota_hero_storm_spirit">storm spirit</option>
                        <option value="npc_dota_hero_sven">sven</option>
                        <option value="npc_dota_hero_techies">techies</option>
                        <option value="npc_dota_hero_templar_assassin">templar assassin</option>
                        <option value="npc_dota_hero_terrorblade">terrorblade</option>
                        <option value="npc_dota_hero_tidehunter">tidehunter</option>
                        <option value="npc_dota_hero_timbersaw">timbersaw</option>
                        <option value="npc_dota_hero_tinker">tinker</option>
                        <option value="npc_dota_hero_tiny">tiny</option>
                        <option value="npc_dota_hero_treant_protector">treant protector</option>
                        <option value="npc_dota_hero_troll_warlord">troll warlord</option>
                        <option value="npc_dota_hero_tusk">tusk</option>
                        <option value="npc_dota_hero_underlord">underlord</option>
                        <option value="npc_dota_hero_undying">undying</option>
                        <option value="npc_dota_hero_ursa">ursa</option>
                        <option value="npc_dota_hero_vengeful_spirit">vengeful spirit</option>
                        <option value="npc_dota_hero_venomancer">venomancer</option>
                        <option value="npc_dota_hero_visage">visage</option>
                        <option value="npc_dota_hero_warlock">warlock</option>
                        <option value="npc_dota_hero_weaver">weaver</option>
                        <option value="npc_dota_hero_windranger">windranger</option>
                        <option value="npc_dota_hero_winter_wyvern">winter wyvern</option>
                        <option value="npc_dota_hero_witch_doctor">witch doctor</option>
                        <option value="npc_dota_hero_wraith_king">wraith king</option>
                        <option value="npc_dota_hero_zeus">zeus</option>
                        <option value="npc_dota_hero_arc_warden">arc warden</option>
                        <option value="npc_dota_hero_io">io</option>
                        <option value="npc_dota_hero_jakiro">jakiro</option>
                        <option value="npc_dota_hero_viper">viper</option>
                    </select>
                </div>
            </div>
            <div class="col-12">
                <div class="steam-content-items col-12" id="my-inventory-dota2"></div>
            </div>
        </div>
    </div>