.row-style {
    background-color: black;
    padding: 0 10px;
}
.reward-level {
    padding: 15px 5px;
}

.f15 {
    font-size: 15px;
}

table {
    background: #303030;
    color: #999;  
}

tr {  
    border-bottom: 3px solid #3b3b3b;
    height: 40px;
    border-top: 3px solid #3b3b3b;
    
}



.reward-content-title {
    height: 55px;
    line-height: 55px;
    background-color: #252525;
    color: #f99910;
    padding-left: 7px;
    font-size: 20px;
}
.reward-content {
    margin-bottom: 20px;
    padding:5px !important;
}

