<div class="container fluid top">
    <div class="row row-style">
        <div class="col-12 reward-level">
            <table class="table f15 ">
                <thead>
                    <tr>
                    <th>Levels</th>
                    <th>Lv1</th>
                    <th>Lv2</th>
                    <th>Lv3</th>
                    <th>Lv4</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Total Placed (Golden coin)</td>
                    <td><span class="betting-value" data-value="20000">20,000</span></td>
                    <td><span class="betting-value" data-value="40000">40,000</span></td>
                    <td><span class="betting-value" data-value="70000">70,000</span></td>
                    <td>&gt;<span class="betting-value" data-value="70000">70,000</span></td>
                    </tr>
                    <tr>
                    <td>Return Percentage</td>
                    <td>0.1%</td>
                    <td>0.2%</td>
                    <td>0.3%</td>
                    <td>0.4%</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="reward-content col-12">
            <div class="reward-content-title f20 "> Receive Reward </div>
            <table class="table f15 ">
                <thead>
                    <tr>
                    <th>Week</th>
                    <th>Total Placed</th>
                    <th>Return Percentage</th>
                    <th>Potential Bonus</th>
                    <th>State</th>
                    <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>