@media only screen and (max-width: 680px) {
  .tLogo {
      display: none;
  }
}
.um-title {
    background-color: #292929;
    height: 48px;
    position: relative;
    top: 2px;
    
    
}

.title {
    color: #f99910;
    font-size: 17px;
    font-family: arial;
    float: left;
    margin: 0;
    font-weight: 400;
    padding: 12px 20px;
    background-color: #292929;
}

.more {
    font-size: 15px;
    color: white !important;
    font-family: arial;
    float: right;
    padding: 13.5px 35px;
    border-left: 1px solid #4d4d4d;
    box-shadow: -1px 1px 0 1px #000;
    cursor: pointer;
    background-color: #292929;
    
}

a.more:hover {
  color: #f99910;
}
span {
    content: "\00BB";
    font-size: 15px;
  }

  

  ul {
      padding: 0;
      margin: 0;
  }
  
  h3:active {
    background-color: #000;
    border: none;
    color: #fff;
    border-bottom: 1px solid #f99910
  }

  h3:focus {
    background-color: #000;
    border: none;
    color: #fff;
    border-bottom: 1px solid #f99910
  }


  h3 {
    margin: 0;
    font-family: arial;
    font-size: 14px;
    color: #999;
    margin-right: 0;
    border-radius: 0;
    border: 0;
    font-weight: 700;
    position: relative;
    display: block;
    padding: 10px 16px;
    cursor: pointer;
  }

  .matches {
    padding: 10px 10px 0;
    min-height: 70px;
    background-color: black;
    margin-bottom: 30px;
    padding-bottom: 5px;
  }

 .match {
    height: 80.15px;
    overflow: hidden;
    background: #202020;
    margin-bottom: 10px;
    cursor: pointer;
    transition-property: background;
    transition-duration: .5s;
    transition-timing-function: linear;
    box-shadow: 0 0 1px transparent;
}
.logo {
  margin-top: -4px;
    padding-right: 4px;
}
.tournament {
    font-size: 14px;
    color: #fefefe;
    font-family: arial;
    font-weight: 700;
    padding: 17px 10px 0;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 2;
}

.time {
    font-size: 13px;
    color: #90b526;
    font-family: arial;
    padding: 10px 32px;
    position: relative;
    top:-15px;
}

.team {
    vertical-align: middle;
    max-height: 55px;
    text-align: center;
    padding-top: 2px;
}

.odds{
  color: #ccc;
  margin: 2px auto;
}

.bo {
  font-size: 18px;
    color: #fefefe;
    font-family: arial;
    font-weight: 700;
    text-transform: uppercase;
    padding: 25px 0;
    text-align: center;
}


.tLogo {
  border: 0;
  vertical-align: middle;
  width:158px;
    height: 76px;
    padding-top: 3px;
}

.icon-flower {
  position: absolute;
    bottom: 6px;
    left: -50px;
}
.flower {
  max-width: 180px;
    max-height: 60px;
    vertical-align: middle;
    border: 0;
 
}

.no-match {
  color:white;
}

.match:hover {
  opacity: .85;
  background: #2b2525;
}



.nav-bg {
  background-color: #000000;
}