/* You can add global styles to this file, and also import other style files */
.ng-sidebar {
    background: red;
    width: 13rem;
    height: 100%;
  
}
.ng-sidebar--left {
    color: white!important;
    background: #181918;
    width: 14rem;
    
}

.ng-sidebar {
    position: fixed !important;
  }

