.bg {
    background-color: #333333;
}
.rank {
    padding: 10px 15px;
}

.rank-4-10 {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    color: #999;
    background: #252525;
    text-align: center;
    font-size: 15px;
    padding-top: 2px;
}

.avatar img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.name {
    font-family: Arial;
    font-size: 14px;
    color: #999;
    padding-top: 0;
}
.level {
    color: #333;
    font-style: italic;
    border: 1px solid #c4c6c6;
    box-shadow: 0 2px 2px 0;
    font-size: 11px;
    background: #959595;
    padding: 0 5px;
    border-radius: 8px;
    margin-right: 10px;
}

.color-rank-2 {
    color: #e18d2d;
}
.bg:nth-child(odd) {
    background: #2F2F2F;
}