
.bg {
    background: #252525;
}
ul {
    
    border: none;
}
.nav-title {
    background: #000;
    border-radius: 0;
    border-bottom: 1px solid #f99910;
    color: #f99910;
    padding: 12.5px 15px;
}
.deposit-button {
    display: block;
    position: absolute;
    right: 35px;
    top: 7px;
}

.store-items {
    background: #363636;
    padding: 10px;
}

.item-container {
    padding-left: 0px;
    padding-right: 10px;
}

.form-group button {
    margin-right: 5px;
    background: #292929;
    color: white !important;

}

.store-items-content {
    padding: 5px;
    background-color: #000;
    margin-bottom: 15px;
}