<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="col-12 mt-4 ">
    <div class="row mx-1 bg">
        <ul class="nav nav-tabs">
            <li class="nav-title">
                <a class="title">Store</a>
            </li>
            <a class="deposit-button">
                <button type="button" class="btn btn-warning">Deposit</button>
            </a>
        </ul>
        <div class="col-12 store-items">
            <div class="col-10 col-sm-9 item-container">
                <div class=" col-12 form-group float-left">
                    <button class="btn" type="button">Price
                        <i class="fa fa-arrow-down" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="col-12 store-item-container">

                </div>
            </div>
        </div>
    </div>
</div>