<div class="container-fluid px-xl-5">
    <div class="row">
        <div class="col-lg-8 col-md-12 col-sm-12 px-0">
            <router-outlet></router-outlet>
        </div>
            <div class="col-lg-4 col-md-12 right">
                <div class="row px-3">
                <div class="col-lg-12 col-md-6 profile" *ngIf="isLoggedin">
                    <div class="col-12 info">
                        <div class="row">
                            <div class="col-3  avatar">
                                <a style="cursor: pointer;"><img src="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/ad/adb9cbe33e0ba01fac0e68a2e9d15828d5989cd0_medium.jpg"></a>
                            </div>
                            <div class="col-9">
                                <div class="your-id ">
                                    <span class="yourid-player">Marl 3</span> 
                                    <span class="yourid-level">Lv 1</span>
                                    <br>
                                    <span class="user-steamid">76561198102798867</span>
                                </div>
                                <div class="col-12 coin-diamond ">
                                        <span class="coin ml-auto">
                                            <img src="https://dota2bestyolo.com/images/icon-price-21.png" alt="gold coin"> 
                                            <span class="user-gold-coin"> 0 </span>
                                        </span>
                                        <span class="silver-coin mx-auto">
                                            <img src="https://dota2bestyolo.com/images/diamond.png" alt="silver coin" style="width: 19px">   
                                            <span class="user-gold-coin"> 0 </span>
                                        </span>
                                        <span class="promo mr-auto">Promo Codes</span>
                                </div>
                            </div> 
                        </div>
                    </div>
                    <div class="link">
                        <div class="row">
                            <div class="col-4 steam-info">
                                <a>
                                    <img src="https://dota2bestyolo.com/images/icon/icon-steam.png" alt="icon-steam">
                                    <p class="text-gray">Steam</p>
                                </a>
                            </div>
                            <div class="col-4 steam-info">
                                <a>
                                    <img src="https://dota2bestyolo.com/images/icon/icon-mail.png" alt="icon-steam">
                                    <p class="text-gray">Mail</p>
                                </a>
                                </div>
                            <div class="col-4 steam-info">
                                <a>
                                    <img src="https://dota2bestyolo.com/images/icon/icon-link.png" alt="icon-steam">
                                    <p class="text-gray">Trade link</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    
            </div>
            <div class="col-lg-12 col-md-6 px-0 menu-margin">
                <app-my-menu></app-my-menu>
            </div>
            </div>    
        </div>
    </div>
</div>
