
@media only screen and (min-width: 768px) {
    .my-menu {
        margin-top: 25px;
    }
}

@media only screen and (min-width: 990px) {
    .my-menu {
        margin-top: 0;
    }
}

.profile {
    background-color: #252525;
    margin-top:25px;
    max-height: 306px;
    
}
.menu-margin {
    margin-top:25px;
}
.info {
    padding: 15px 0 10px;
    border-bottom: 1px solid #404040;
}

.avatar {
    padding: 5px 15px;
    
}

.avatar img{
    width: 85px;
    height: 85px;
    border-radius: 50%;
}

.your-id {
    padding: 5px 15px 5px 10px;
}
.yourid-player {
    font-size: 18px;
    font-family: Arial;
    color: #fff;
    padding: 0 5px 0 0;
}

.yourid-level {
    color: #333;
    font-style: italic;
    border: 2px solid #c4c6c6;
    box-shadow: 0 2px 2px 0;
    font-size: 11px;
    background: #959595;
    padding: 0 5px;
    border-radius: 8px;
    display: inline-block;
}

.user-steamid {
    font-size: 14px;
    font-family: Arial;
    color: #fff;
}

.coin-diamond{
    padding: 5px 0;
    text-align: center !important;
    position: relative;
    left:10px;
}

.coin {
    float:left;
}

.silver-coin{
    color: #ccc;
    
}

.coin img{
    vertical-align: middle;
    border: 0;
}


.promo {
    margin-top: -5px;
    padding: 5px 10px;
    color: #999;
    position: relative;
    float:right;
}

.user-gold-coin {
    color: white;
}

.steam-info {
    text-align: center;
    display: inline-block;
    margin-top:10px;
}

.text-gray {
    color: #ccc;   
    margin: 0 0 10px;
    text-align: center;
}

/* .my-menu ul{
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.my-menu {
    background: #363636;
    margin-bottom: 30px;
    padding:0;

}

.my-menu ul li {
    padding: 12px 15px;
    
}

.my-menu ul li a {
    padding: 7px 0 10px 50px;
    background-image: url('https://dota2bestyolo.com/images/icon/icon-all.png');
    background-repeat: no-repeat;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    
}

.my-menu ul li:nth-child(odd) {
    background: #464646;
   
}

.menu-myinventory a {
    background-position: 0 -853px;

}

.menu-myplay a {
    background-position: 0 -1013px;
}
.menu-reflink a {
    background-position: 0 -2107px;
}

.menu-account a {
    background-position: 0 -1053px;
}

.menu-message a {
    background-position: 0 -973px;
}

.menu-feedback a {
    background-position: 0 -1093px;
}

.my-menu ul li a:hover {
    color: #f99910;
    cursor: pointer;
}
 */
