.um-title {
    background-color: #292929;
    height: 48px;
    position: relative;
    top: 2px;
    
    
}

.title {
    color: #f99910;
    font-size: 17px;
    font-family: arial;
    float: left;
    margin: 0;
    font-weight: 400;
    padding: 12px 20px;
    background-color: #292929;
}

.more {
    font-size: 15px;
    color: white !important;
    font-family: arial;
    float: right;
    padding: 13.5px 35px;
    border-left: 1px solid #4d4d4d;
    box-shadow: -1px 1px 0 1px #000;
    cursor: pointer;
    background-color: #292929;
    
}

a.more:hover {
  color: #f99910;
}
span {
    content: "\00BB";
    font-size: 15px;
  }

  .nav-bg {
    background-color: #000000;
  }

  ul {
      padding: 0;
      margin: 0;
  }
  
  h3:active {
    background-color: #000;
    border: none;
    color: #fff;
    border-bottom: 1px solid #f99910
  }

  h3 {
    margin: 0;
    font-family: arial;
    font-size: 14px;
    color: #999;
    margin-right: 0;
    border-radius: 0;
    border: 0;
    font-weight: 700;
    position: relative;
    display: block;
    padding: 10px 16px;
    cursor: pointer;
  }
  .matches {
    background-color: black;
  }
  .match:hover {
    opacity: .85;
    background: #2b2525;
  }

  .match {
    border-bottom: 1px solid #262626;
    /* border-bottom: 1px solid #5a416e; */
    height: 110.2px;
    padding: 7.5px 0;
    overflow: hidden;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
}
.score {
    font-size: 16px;
    color: #fefefe;
    font-family: arial;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10px;
}


.tournament {
  color: #fefefe;
  font-family: arial;
  font-weight: 700;
  text-transform: capitalize;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  z-index: 2;
  font-size: 13px;
  margin:0;
}


.team {
  max-height: 50px;
}
.date {
  padding: 10px 0;
  font-family: arial;
  font-size: 14px;
  color: #999;
}


