<div class="row">
        <div class="col-12">
            <div class="um-title">
                <p class="title ">{{ 'Match Result' | uppercase }}</p>
                <a class="more">
                    More <span>&#187;</span>
                </a>
            </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            <div>
                <ul class="nav nav-tabs col-12 nav-bg ">
                    <li class="nav-item" (click)="filterAll()">
                        <h3><img class=" " src="https://dota2bestyolo.com/images/icon/ic_all.png" alt="all" ></h3>
                    </li>
                    <li class="nav-item" (click)="filterDota()">
                        <h3><img class=" " src="https://dota2bestyolo.com/images/icon/ic_dota2_active.png" alt="dota2" ></h3>
                    </li>
                    <li class="nav-item" (click)="filterCSGO()">
                        <h3><img class=" " src="https://dota2bestyolo.com/images/icon/ic_csgo_active.png" alt="csgo" ></h3>
                    </li>
                    <li class="nav-item" (click)="filterLOL()">
                        <h3><img class=" " src="https://dota2bestyolo.com/images/icon/ic_lol_active.png" alt="lol"></h3>
                    </li>
                    <li class="nav-item" (click)="filterFootball()">
                    <h3><img class=" " src="https://dota2bestyolo.com/images/icon/ic_sport_active.png" alt="football" ></h3>
                    </li >
                    <li class="nav-item" (click)="filterBasketball()">
                        <h3><img class=" " src="https://dota2bestyolo.com/images/icon/ic_basketball_active.png" alt="basketball" ></h3>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class=" matches">
                <div class="match" *ngFor="let match of matches | filter:filteredGame:'game'">
                    <div  class="col-12 float-left">
                        <p class="tournament"><img class="logo" [src]="match.logo" alt="">{{ match.tournament }}</p>
                    </div>
                    <div class="col-12">
                        <div class="col-3 float-left">
                                <img class="team" [src]="match.team1" alt="">
                        </div>
                        <div class="col-2 float-left px-0" >
                            <p class="score">{{ match.score}}</p>
                        </div>
                        <div class="col-3 float-left">
                            <img class="team" [src]="match.team2" alt="">
                        </div>
                        <div class="col-4 float-left">
                            <p class="date">{{ match.date }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>